<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>Repoid:</b>
  <%= @comment.repoid %>
</p>

<p>
  <b>Userid:</b>
  <%= @comment.userid %>
</p>


<%= link_to 'Back', root_path %>