<% if @error.blank? %>
  <div class="content"><strong><%= "#{@username}/#{@repo}" %></strong> <%= @repo_description %></div>
  <%= link_to "Find me on Github", "https://github.com/#{@username}/#{@repo}" %>
<% else %>
  <%= @error %>
<% end %>
<hr>
<div>
	<h4>Comments<h4>
	<ul class="repos">
	  <% @comment.each do |comment| %>
	    <li>
	    	<div class="content"><%= comment.content %></div>
		  	<div class='meta'><%= User.find(comment.userid).username %></div>
	    </li>
	  <% end %>
	  <% if @comment.length == 0 %>
	    <h6><%= "No comments yet. Be the first one to comment!" %><h6>
	  <% end %>
	</ul>
    <hr>
    <h5><%= link_to "Add Comment", new_comment_path(:repoid => @repoid) %></h5>
</div>
